<app-base-form-block
  [id]="id"
  [type]="'select'"
  [isDragged]="isDragged"
  [isSelected]="isSelected"
  [layout]="layout"
  [label]="label"
  [isEditingLabel]="isEditingLabel"
  [required]="required"
  [showRequiredToggle]="true"
  (dragHandleMouseDown)="onDragHandleMouseDown($event)"
  (elementClick)="elementClick.emit($event)"
  (labelEditStart)="startLabelEdit()"
  (labelEditEnd)="finishLabelEdit($event)"
  (labelEditCancel)="cancelLabelEdit()"
  (deleteElement)="deleteElement.emit($event)"
  (duplicateElement)="duplicateElement.emit($event)"
  (toggleRequired)="toggleRequired.emit($event)"
  (openSettings)="openSettings.emit($event)">
  
  <div class="select-wrapper">
    <!-- Display mode for label -->
    <label
      *ngIf="label && !isEditingLabel"
      class="select-label"
      (click)="startLabelEdit()"
      [class.required]="required"
    >
      {{ label }}
    </label>
    
    <!-- Edit mode for label -->
    <input
      *ngIf="isEditingLabel"
      type="text"
      class="label-edit-input"
      [value]="label"
      (blur)="handleLabelBlur($event)"
      (keydown)="handleLabelKeyDown($event)"
      (click)="$event.stopPropagation()"
      [attr.minlength]="labelMinLength"
      [attr.maxlength]="labelMaxLength"
      [required]="labelRequired"
      autofocus
    />
    
    <nz-select
      [(ngModel)]="value"
      [nzSize]="size"
      [nzDisabled]="disabled"
      [nzAllowClear]="allowClear"
      [nzPlaceHolder]="placeholder"
      [nzShowSearch]="showSearch"
      [nzLoading]="loading"
      [nzStatus]="validationStatus"
      (ngModelChange)="onValueChange($event)"
      (blur)="onBlur()"
      class="select-field">
      <nz-option
        *ngFor="let option of options"
        [nzLabel]="option.label"
        [nzValue]="option.value"
        [nzDisabled]="option.disabled">
      </nz-option>
    </nz-select>
    
    <div *ngIf="description" class="select-description">
      {{ description }}
    </div>
    
    <!-- Validation error message -->
    <div *ngIf="validationStatus === 'error'" class="validation-error">
      {{ getValidationErrorMessage() }}
    </div>
  </div>
</app-base-form-block>